{
  "username": "JOUW_STUDENT_NUMMER_bijvoorbeeld_s1234123",
  "password": "JOUW_OSIRIS_WACHTWOORD",
  "interval": 360,
  "telegram_token": "TOKEN_VAN_BOTFATHER",
  "chat_id":"",
  "message":"Hier zijn je nieuwe cijfers! \n",
  "email_subject":"Je hebt nieuwe cijfers! \n",
  "gmailusername":"JOUWNAAM@gmail.com",
  "gmailpassword":"JOUWPASSWORD",
  "emailreceiver":"EMAIL_ONTVANGER OF ["a@b.com", "b@b.com", "c@b.com"]",
  "email_server":"smtp.gmail.com",
  "email_port":587
}
